* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}
/*heading section*/
.header {
	height: 60px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 12px;
}

.header-content {
	width: 100%;
	font-size: 24px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

#city {
	font-size: 30px;
}

/*search bar section*/
.searchbar {
	text-align: center;
	padding-bottom: 15px;
}

#search-input {
	width: 322px;
	height: 32px;
	border: solid grey 1px;
	border-radius: 1px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

button {
	width: 105px;
	height: 38px;
	border-radius: 5px;
	font-size: 22px;
	background-color: grey;
}

.buttons {
	display: block
}
/*weather section*/
.weather {
	text-align: center;
	margin-bottom: 18px
}

#weather_title{
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.daily {
	width: 18.5%;
	display: inline-block;
	margin: 0 auto;
}

.weather_logo{
	width: 50px;
}
/*results section*/
.results {
margin-top: 15px;
margin-bottom: 15px;
}

.container_results{
	border: 1px solid grey;
	border-radius: 4px;
	padding: 12px;
}

.venue_name{
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}

.venue_image { 
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
 }

.venue_category {
 	margin: 5px;
 	height: 35px;
 }

.venue_category_logo {
	display: inline-block;
	float: left;
}

.venue_category_name {
	display: flex;
	align-items: center;
	height: 32px;
	font-weight: 600;
	padding: 5px;
	padding-left: 8px
}
.venue_address {
	font-size: 15px;
	overflow: hidden;
	margin: 5px;
}

.more_results {
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}

#more_results_button {
	width: 150px;
}

.result-image {
    width: 100%;
    float: left;
    height: 15em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center center;
}