* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
}

.row {
	max-width: 1000px
	padding: 0 20px;
	margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}