/*heading section*/
.header {
	height: 80px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 12px;
}

.header-content {
	width: 100%;
	font-size: 24px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

#city {
	font-size: 30px;
}

/*search bar section*/
.searchbar {
	text-align: center;
	padding-bottom: 15px;
}

input {
	width: 322px;
	height: 32px;
	border: solid grey 1px;
	border-radius: 1px;
	padding: 5px;
	margin-bottom: 15px;
}

button {
	width: 105px;
	height: 38px;
	border-radius: 5px;
	font-size: 22px;
}

.buttons {
	display: block
}
/*weather section*/
.weather {
	text-align: center;
	padding: 15px;
}

.weather_title{
	font-size: 24px;
}

.daily {
	width: 70px;
	display: inline-block;
	padding-top: 15px;

}

.weather_logo{
	width: 50px;
}
/*results section*/